:root {
    --primary-color: #f8f7f1;
    --secondary-color: #1d1d1a;
    --tertiary-color: #e0e0d9;
}

.dark-mode:root {
    --primary-color: #242422;
    --secondary-color: #5a5a53;
    --tertiary-color: #585856;
}

.dark input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.dark{
    position: relative;
	margin-bottom: 30px;
	padding:5px 0 5px 60px;
	display: block;
}

.dark input + i{
    background: #f0f0f0;
    border:2px solid rgba(0,0,0,0.2);
    position: absolute; 
    left: 0;
    top: 0;
}

.dark input[type=checkbox ] + i{
	width: 52px;
	height: 30px;
	border-radius: 15px;
}

.dark input[type=checkbox] + i:before{
	content: '';
	width: 26px;
	height: 26px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
}

.dark input[type=checkbox]:checked + i:before{
	left: 22px;
	-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
}
 
.dark input[type=checkbox]:checked + i{
 background: #4a4d4b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    background-color: var(--primary-color);
    font: bold 2rem 'Open Sans', sans-serif;
}

.todo {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}

.todo__title {
    display: flex;
    background-color: var(--secondary-color);
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 1px 1px 5px var(--secondary-color);
    font-size: 3rem;
    color: var(--primary-color);
    border-radius: 10px;
}

.todo__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.todo__item{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--secondary-color);
}
.todo__item > div {
    width: 80%;
}
.todo__item:hover {
    cursor: pointer;
    transition: all .5s ease;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


.todo__item > input[type='text'] {
    border: none;
    width: 80%;
    font: inherit;
}

.todo__item > input[type='button'],
.todo__item > input[type='checkbox'] {
    width: 30px;
    height: 30px;
    font: inherit;
}


.todo__item > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
}

.todo__new-item{
    display: flex;
    background-color: var(--tertiary-color);
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    padding: 10px 0;
    box-shadow: 1px 1px 5px var(--secondary-color);
    margin: 10px;
    font: inherit;
    border-radius: 10px;
}

.todo__new-item > input{
    background-color: var(--tertiary-color);
    border: none;
    width: 80%;
    outline: none;
    font: inherit;
}

.todo__new-item > input::placeholder {
    font-style: italic;
    font-weight: normal;
}